.upload-page {
    width: 100%;
    height: 100%;

    padding: 24px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.uploadSection {
    margin-bottom: 32px;
    /* 업로드 구역 간 위아래 마진 */
}

.sectoionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    /* 업로드 분류 제목, 업로드 버튼 박스 */
}

.uploadButton {
    border: 0px;
    border-radius: 5px;
    padding: 2px;
    /* 업로드 버튼 */
    display: flex;
    align-items: center;
    color: #94A3B8;

}

.uploadButton:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.sectionTitle {
    font-size: 1.2em;
    font-weight: bold;
    /* 업로드된 파일 같은 분류 제목 */
}

.uploadItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);

    /* 각 분류 업로드 아이템  */
}

.uploadType {
    width: 60px;
    font-weight: bold;
    color: #57B6B2;

    /* 업로드 아이템 파일 타입 표시 */
}

.uploadContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 5px;

    /* 업로드 내용 공간(제목,설명,날짜,작성자) */
}

.uploadTitle {
    font-size: 1em;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.uploadTitle:hover {
    text-decoration: underline;
    cursor: pointer;

    /* 파일 제목 */
}

.uploadDescription {
    font-size: 0.9em;
    color: #999;

    /* 파일 설명 */
}

.uploadDate {
    width: 100px;
    text-align: center;
    color: #999;

    /* 업로드 날짜 */
}

.uploadUser {
    display: flex;
    margin-left: 10px;

    /* 업로드 유저명 */
}

body {
    background-color: #f7f9fc;
}
