.MainPage {
    width: 100%;
    height: 100%;

    background-color: #F8FAFC;
    /* F8FAFC 이 색으로 배경색 넣기*/

    display: flex;
    flex-direction: column;

}

.PageBox {
    display: flex;
    flex: 1;
    overflow: hidden;

    flex-direction: row;
}

.ViewBox {
    width: 100%;
    height:100%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

