.task-card {
    background: white;
    border-radius: 12px;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 8px #0000001a;
    margin-top: 20px;
    margin-bottom: 10px;
}

.task-info {
    gap: 8px;
    font-weight: bold;
}

.task-card .title {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.category {
    font-weight: 600;
    font-size: 12px;
    color: goldenrod;
}

.description {
    font-size: 12px;
    color: #888;
    line-height: 1.5;
}

.card-divider {
    border-top: 1px solid #ddd;
    margin: 12px 0;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    height: 32px;
    font-size: 12px;
    color: #888;
    padding: 0px 12px;
    border-radius: 12px;
}

.members {
    display: flex;
    gap: 5px;
}

.project-dropdown {
    margin-left: 10px; /* 입력 필드와 드롭다운 사이에 간격 추가 */
    padding: 5px; /* 드롭다운 내부 여백 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 4px; /* 둥근 모서리 */
}